<header>
    <div class="company">
        <img src="./images/rocket-lunch.png" alt="logo" class="logo">
        <span class="title">surprise mf company</span>
    </div>
    <ul class="navList">
        <li><a href="/home">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/join-to-team">Join to our team</a></li>
    </ul>
    <img src="./images/user.png" alt="user" class="userIcon">
</header>