.list {
    color: red;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 1000px;
    gap: 100px;
}

.img {
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    border: 2px solid blue;
    border-radius: 10px;
}

.descriptor {
    display: flex;
    align-items: start;
    border-top: 2px solid blue;
    flex-direction: column;
    width: 100%;
    gap: 14px;
    padding: 10px;
}